body {
}

#header  {
border: 1px solid black;
border-radius: 10px 10px;
text-align: right;
}

#sideBar  {
border: 1px solid black;
border-radius: 10px 10px;
text-align: right;
}

#content  {
border: 1px solid black;
border-radius: 10px 10px;
text-align: right;
}

#content  {
border: 1px solid black;
border-radius: 10px 10px;
text-align: right;
}

#topNavBar{
border: 1px solid black;
border-radius: 10px 10px;
text-align: right;
}